.product-change {
  height: 82px;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.07));
}